body
{
    div.Header
    {
        div.HeaderContent
        {
            border: 1px solid #bf7c52;
            background: url("../Content/Images/Grouch.jpg") bottom right no-repeat white;
            min-height: 150px;
            
            .DarkMode &
            {
                background-color: #333;
                background-image: url("../Content/Images/Grouch-Dark.jpg");
                border-color: #c0c0c0;
            }

            @media screen and (max-width: 35em)
            {
                background-image: none !important; // important required because DarkMode image is technically more specific
                min-height: auto;
            }

            > h1
            {
                margin: 32px 0 6px 32px;
                font-size: 36px;
                font-weight: bold;
                text-align: left;
                font-family: Courier;

                > a
                {
                    text-decoration: none;
                    color: #ae0c0e;
                }

                @media screen and (max-width: 35em)
                {
                    margin: 24px 0 8px 0;
                    text-align: center;
                }
            }

            span.Tagline
            {
                display: block;
                text-align: left;
                margin: 0 0 0 34px;
                color: #121212;

                .DarkMode & { color: #eee; }

                @media screen and (max-width: 35em)
                {
                    margin: 0 0 24px 0;
                    text-align: center;
                }
            }
        }
    }
}
