html { background: url("../Content/Images/Background-Repeat.jpg") repeat-x #800C0E; }

.StandardText()
{
    font-family: "Segoe UI", "Lucida Grande", Verdana;
    font-size: 15px;
    color: #121212;
    padding: 16px;

    @media screen and (max-width: 35em) { font-size: 20px; }
}

body
{
    .StandardText();
    background: url("../Content/Images/Background.jpg") no-repeat;
}

td { .StandardText(); }

a
{
    color: #30a;
    &:hover { color: #63f; }
}

em { font-style: italic; }

strong
{
    font-weight: bold;
    color: #777; // For Posts where there are a lot of types (highlighted by "strong" tags), this makes them less distracting
}
