@model Blog.Models.PostListModel

@{
    ViewBag.Title = "About Me";
	Layout = "~/Views/Shared/SiteMasterWithoutSidebar.cshtml";
}

				<div class="Content">
					<h2>About me</h2>
					<p>Content here!</p>
				</div>
