@model Blog.Models.PostListModel
@using Blog.Helpers.Posts;

@{
    ViewBag.Title = "Coming Soon";
	Layout = "~/Views/Shared/SiteMasterWithoutSidebar.cshtml";
}

				<div class="Content">
					<h2>Coming soon!</h2>
					<p>That is all.</p>
				</div>
