@model Blog.Models.PostListModel
@using Blog.Helpers.Posts;

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/SiteMasterWithoutSidebar.cshtml";
}

				<div class="Content ErrorPageContent">
					<p>
						<img class="ErrorPage" src="/Content/Images/WTF.jpg" alt="What are you doing here?" />
					</p>
					<h2>What are you doing here??</h2>
					<p>Uh oh! The requested page doesn't seem to be available - I hope you weren't following an internal link 'cos that means it must be broke!</p>
				</div>
