@model Blog.Models.PostListModel
@using Blog.Helpers;

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/SiteMasterWithSidebar.cshtml";
}

@foreach (var post in Model.Posts)
{
				<div class="Content @Model.PostListDisplay">
					@Html.RenderPostTitleSummary(post)
				</div>
}
