@model Blog.Models.ICommonSiteConfigModel
@{
	Layout = "~/Views/Shared/SiteMaster.cshtml";
}
			<div class="Main">
				@RenderBody()
				<div class="Footer">
					© Productive Rage 2011 - @DateTime.Now.Year
				</div>
			</div>
