@using Blog.Helpers;
@{
	Layout = "~/Views/Shared/SiteMaster.cshtml";
}
			<div class="Main HasSideBar">
				@RenderBody()
                <div class="Footer">
                    Productive Rage 2011 - @DateTime.Now.Year
                </div>
			</div>

			<div class="SideBar">
				<div class="Search">
					@using (Html.BeginForm("Search", "Search", FormMethod.Get))
					{
						<div>
							<label>
								<span class="text">Site Search</span>
								<input type="text" class="SiteSearch" name="term" value="@Html.Raw(((Model is Blog.Models.SearchResultsModel) ? Html.Encode(((Blog.Models.SearchResultsModel)Model).SearchTerm) : ""))" />
							</label>
							<input type="submit" class="SiteSearchSubmit" value="Search" />
						</div>
					}
				</div>
			</div>
